* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.app {
    width: 100%;
    max-width: 650px;
    background: #1a1a1a;
    border: 1px solid #292929;
    border-radius: 20px;
    padding: 35px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.label {
    color: #777;
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

h1 {
    font-size: 42px;
}

.subtitle {
    color: #888;
    margin-top: 5px;
}

.counter {
    width: 70px;
    height: 70px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter span {
    font-size: 22px;
    font-weight: bold;
}

.counter small {
    color: #777;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 15px;
    background: #111;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    outline: none;
    font-size: 15px;
}

input:focus {
    border-color: #666;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 18px;
    font-weight: bold;
    transition: 0.2s;
}

.input-area button {
    background: white;
    color: #111;
}

button:hover {
    transform: translateY(-2px);
}

.filters {
    display: flex;
    gap: 8px;
    margin: 25px 0;
}

.filters button {
    background: #252525;
    color: #aaa;
}

.filters button:hover {
    background: #333;
    color: white;
}

#taskList {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #222;
    border: 1px solid #2d2d2d;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.task-text {
    flex: 1;
}

.completed .task-text {
    text-decoration: line-through;
    color: #666;
}

.check {
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.completed .check {
    background: white;
}

.delete {
    background: transparent;
    color: #777;
    font-size: 18px;
    padding: 5px;
}

.delete:hover {
    color: white;
}

#emptyMessage {
    text-align: center;
    color: #666;
    padding: 30px;
}

@media (max-width: 600px) {
    .app {
        padding: 25px;
    }

    .input-area {
        flex-direction: column;
    }

    .input-area button {
        width: 100%;
    }
}